# compilation & build
build/
*.exe
*.o

# sublime specific
*.sublime-project
*.sublime-workspace
.cache/

# raw assets
assets/

# for sublime clang
compile_commands.json

# vscode
.vs

# other
raw-testing/
